@import "tailwindcss";

:root {
  --background: #f8f6f2;
  --brand-text: #5e6a50;
  --font-brand: var(--font-tenor-sans), serif;
}

body {
  background: var(--background);
  color: var(--brand-text);
  font-family: var(--font-brand);
}

/* globale typografie */
html,
body,
button,
input,
textarea,
select,
label,
a,
p,
span,
div,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-brand);
  color: var(--brand-text);
}